%h1
  = @heading
  %small= @subtitle

#sidebar
  %h2 About
  %p
    Effectif Development is the home of
    = succeed "," do
      %a{ :href => "/"} Graham Ashton
    a freelance web developer and software engineer based in London.

  = haml :categories, :layout => false
  = haml :feed, :layout => false
  = haml :about, :layout => false

#content
  - @articles.each do |article|
    = haml :summary, :layout => false, :locals => { :article => article, :heading => :h2 }
